<ion-content>
    <ion-list no-lines>
        <ion-item *ngFor="let ticket of tickets">
            <ion-thumbnail item-start>
                <img src="{{ticket.poster}}" class="img_film">
            </ion-thumbnail>
            <h2>{{ticket.title}}</h2>
            <p>{{ticket.day}}</p>
            <p>{{ticket.hour}}</p>
            <p *ngIf="ticket.ispurchased">ACQUISTATO</p>
            <p *ngIf="!ticket.ispurchased">PRENOTATO</p>
            <p>{{ticket.seat}}</p>
            <button ion-button clear item-end (click)='showAlert(ticket.ispurchased, ticket.qrcode, ticket.code);'>INFO</button>
        </ion-item>
        
        <div padding text-justify *ngIf="tickets.length == 0">
            <ion-card color="light_dark">
                <ion-card-header>
                    Attenzione!
                </ion-card-header>
                <ion-card-content>
                    Nessun biglietto acquistato o prenotato. Recarsi in "Programmazione" per effettuare tale operazione.
                </ion-card-content>
            </ion-card>
        </div>

        
    </ion-list>
</ion-content>