page-codes {

    .center_text {
        text-align: center;
    }
    
    .color {
        color: black !important;
    }
    
    .justify {
        text-align: justify;
    }
    
    .margin_top {
        margin-top: 45% !important;
    }
}
