page-film {

    .img_film {
        height: 100% !important;
    }
    
    .detail {
        color: #878787 !important;
        margin-bottom: 0px !important;
    }
    
    .item_film {
        height: 135px !important;
    }

}
