<ion-header>

    <ion-toolbar color="dark">
        <ion-segment color="secondary" [(ngModel)]="film">
            <ion-segment-button value="oggi">
                OGGI
            </ion-segment-button>
            <ion-segment-button value="settimana">
                SETTIMANA
            </ion-segment-button>
            <ion-segment-button value="inarrivo">
                IN ARRIVO
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div [ngSwitch]="film">
        <ion-list no-lines *ngSwitchCase="'oggi'">

                <ion-item class="item_film" (click)='dailyfilminfo(dailyfilm.id);' *ngFor="let dailyfilm of dailyfilms">
                          <ion-thumbnail item-start>
                        <img src="{{dailyfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{dailyfilm.title}}</h2>
                    <p class="detail">Regia: {{dailyfilm.director}}</p>
                    <p class="detail">Genere: {{dailyfilm.genre}}</p>
                    <p *ngIf="dailyfilm.actor !=  '' " class="detail">Attori: {{dailyfilm.actor}}</p>
                    <p class="detail">Durata: {{dailyfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: € {{dailyfilm.price}}</p>
                    <div item-end margin-left>
                        <p class="detail" *ngFor="let screening of dailyfilm.screenings" class="detail">{{screening.hour}}</p>
                    </div>
                </ion-item>

                <div padding text-justify *ngIf="dailyfilms.length == 0">
                    <ion-card color="light_dark">
                        <ion-card-header>
                            Attenzione!
                        </ion-card-header>
                        <ion-card-content>
                            Tutti gli spettacoli sono terminati o non sono presenti, si prega di consultare la scheda relativa ai film settimanali.
                        </ion-card-content>
                    </ion-card>
                </div>
                  
        </ion-list>

        <ion-list no-lines *ngSwitchCase="'settimana'">

                <ion-item class="item_film" (click)='weeklyfilminfo(weeklyfilm.id);' *ngFor="let weeklyfilm of weeklyfilms">
                          <ion-thumbnail item-start>
                        <img src="{{weeklyfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{weeklyfilm.title}}</h2>
                    <p class="detail">Regia: {{weeklyfilm.director}}</p>
                    <p class="detail">Genere: {{weeklyfilm.genre}}</p>
                    <p *ngIf="weeklyfilm.actor !=  '' " class="detail">Attori: {{weeklyfilm.actor}}</p>
                    <p class="detail">Durata: {{weeklyfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: € {{weeklyfilm.price}}</p>
                    <div item-end margin-left>
                        <p class="detail" *ngFor="let screening of weeklyfilm.screenings" class="detail">{{screening.day}}</p>
                    </div>
                </ion-item>

        </ion-list>

        <ion-list no-lines *ngSwitchCase="'inarrivo'">

                <ion-item class="item_film" (click)='comingsoonfilminfo(comingsoonfilm.id);' *ngFor="let comingsoonfilm of comingsoonfilms">
                    <ion-thumbnail item-start>
                        <img src="{{comingsoonfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{comingsoonfilm.title}}</h2>
                    <p class="detail">Regia: {{comingsoonfilm.director}}</p>
                    <p class="detail">Genere: {{comingsoonfilm.genre}}</p>
                    <p *ngIf="comingsoonfilm.actor !=  '' " class="detail">Attori: {{comingsoonfilm.actor}}</p>
                    <p class="detail">Durata: {{comingsoonfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: € {{comingsoonfilm.price}}</p>
                    <div item-end margin-left>
                        <p text-center class="detail">Dal</p>
                        <p class="detail">{{comingsoonfilm.releaseDate}}</p>
                    </div>
                </ion-item>

        </ion-list>
    </div>

</ion-content>
