<ion-header>

    <ion-toolbar color="dark">
        <ion-segment color="secondary" [(ngModel)]="film">
            <ion-segment-button value="oggi">
                OGGI
            </ion-segment-button>
            <ion-segment-button value="settimana">
                SETTIMANA
            </ion-segment-button>
            <ion-segment-button value="inarrivo">
                IN ARRIVO
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div [ngSwitch]="film">
        <ion-list *ngSwitchCase="'oggi'">
            <ion-list no-lines>

                <ion-item [navPush]="pushPage" *ngFor="let dailyfilm of dailyfilms">
                    <ion-thumbnail item-start>
                        <img src="{{dailyfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{dailyfilm.title}}</h2>
                    <p class="detail">Regia: {{dailyfilm.director}}</p>
                    <p class="detail">Genere: DA INSERIRE</p>
                    <p class="detail">Attori: {{dailyfilm.actor}}</p>
                    <p class="detail">Durata: {{dailyfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: €{{dailyfilm.price}}</p>
                    <div item-end>
                        <p *ngFor="let screening of dailyfilm.screenings" class="detail">{{screening.hour}}</p>
                    </div>
                </ion-item>

            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'settimana'">
            <ion-list no-lines>

                <ion-item [navPush]="pushPage" *ngFor="let weeklyfilm of weeklyfilms">
                    <ion-thumbnail item-start>
                        <img src="{{weeklyfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{weeklyfilm.title}}</h2>
                    <p class="detail">Regia: {{weeklyfilm.director}}</p>
                    <p class="detail">Genere: DA INSERIRE</p>
                    <p class="detail">Attori: {{weeklyfilm.actor}}</p>
                    <p class="detail">Durata: {{weeklyfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: €{{weeklyfilm.price}}</p>
                    <div item-end>
                        <p class="detail">01/01</p>
                        <p class="detail">01/02</p>
                        <p class="detail">01/03</p>
                        <p class="detail">01/04</p>
                    </div>
                </ion-item>

            </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'inarrivo'">
            <ion-list no-lines>

                <ion-item [navPush]="pushPage" *ngFor="let comingsoonfilm of comingsoonfilms">
                    <ion-thumbnail item-start>
                        <img src="{{comingsoonfilm.poster}}" class="img_film">
                    </ion-thumbnail>
                    <h2 light_grey>{{comingsoonfilm.title}}</h2>
                    <p class="detail">Regia: {{comingsoonfilm.director}}</p>
                    <p class="detail">Genere: DA INSERIRE</p>
                    <p class="detail">Attori: {{comingsoonfilm.actor}}</p>
                    <p class="detail">Durata: {{comingsoonfilm.runningTime}} minuti</p>
                    <p class="detail">Prezzo: €{{comingsoonfilm.price}}</p>
                    <div item-end>
                        <p class="detail">Dal {{comingsoonfilm.releaseTime}}</p>
                    </div>
                </ion-item>

            </ion-list>
        </ion-list>
    </div>

</ion-content>
